/* Header Bar */
table#header {
    width: 100%;
}
table#header td#title{
    width: 60%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
table#header td#l_side {
    width: 20%;
    text-align: left;
}
table#header td#r_side {
    width: 20%;
    text-align: right;
}
div.success_message {
    color: green;
}
div.error_message {
    color: red;
}

/* Homepage Table */
table#options td {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

td.h_label {
    text-align: center;
    font-weight: bold;
}


/* Form Table */
td.split_form {
    width: 450px;
    vertical-align: top;
}
